In [1]:
#importing pandas
import pandas as pd

#reading netflix data
df = pd.read_csv('ViewingActivity.csv')

#knowing numbers of columns and rows created.
df.shape

#printing the row
df.head(1)

#dropping unnecessary columns
df = df.drop(['Profile Name', 'Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)

df.head(1)

            Start Time  Duration                         Title
0  2023-02-17 17:56:27  00:00:11  Season 4 Part 2 Trailer: You

In [2]:
# list of the data types for each column
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

In [3]:
# converting Start time to datetime
#converting start time from utc to local timezone
# converting duration to timedelta.

df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object

In [4]:
#change the start time column into the dataframe's index
df = df.set_index('Start Time')

#convert from utc timezone to eastern time
df.index = df.index.tz_convert('US/Eastern')

#reset the index so that start time becomes a column again
df = df.reset_index()

#double- check that it worked
df.head()

,Start Time,Duration,Title
0,2023-02-17 12:56:27-05:00,00:00:11,Season 4 Part 2 Trailer: You
1,2023-02-17 12:46:50-05:00,00:05:52,The Umbrella Academy: Season 2: Right Back Whe...
2,2023-02-17 12:15:17-05:00,00:03:41,The Umbrella Academy: Season 1: Changes (Episo...
3,2023-02-17 05:24:39-05:00,00:24:25,The Umbrella Academy: Season 1: Changes (Episo...
4,2023-02-15 14:10:34-05:00,00:03:59,The Umbrella Academy: Season 1: The Day That W...

In [5]:
df['Duration'] = pd.to_datetime(df['Duration'])
df.dtypes

Start Time    datetime64[ns, US/Eastern]
Duration                  datetime64[ns]
Title                             object
dtype: object

In [6]:
# createa new dataframe called the umbrella academy that takes from df
# only the rows in which the title columns contains 'You'
import re
The_Umbrella_Academy = df[df['Title'].str.contains('The Umbrella Academy', regex=False)]

In [7]:
# we use the umberalla academy.shape to inspect a random ten rows of our new the umberalla academy dataframe.
The_Umbrella_Academy.shape

(7, 3)